.editInput {
  display: flex;
  flex-direction: column;
}

.editInput input {
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
}

.editButton {
  display: flex;
  align-items: center;
}

.editButton button {
  background: rgb(48, 179, 15);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  color: #333;
  margin-right: 1rem;
  border-radius: 4px;
}

.editButton a {
  font-size: 1rem;
  background: rgb(187, 29, 8);
  padding: 0.5rem 1rem;
  border: none;
  color: #eee;
  text-decoration: none;
  border-radius: 4px;
}
